.header {
    padding: 50px;
    text-align: center;
    background-color: #3498db;
    color: rgb(223, 201, 176);
    font-size: 40px;
}

.container {
    display: grid;
    row-gap: 100px;
    column-gap: 50px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 200px;

}

#searchedCities{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px
}

.boxes {
    display: flex;
    
}

#box1,
#box2,
#box3,
#box4,
#box5 {
    flex-direction: column;
    height: 80px;
    width: 20;
    color: white;
    background-color: rgb(74, 74, 121);
    gap: 20px;
    padding: 20px;
    margin-right: 5px;
}

#box2,
#box4 {
    background-color: rgb(191, 43, 119);
}